*{box-sizing: border-box;}
*{scroll-behavior: smooth;}

/* modal styling (overriding bootstrap)*/
.modalStyle{
    background-color: #e5e5e5;
    border: solid 10px #449DD1;
}

.modal-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-decoration: underline;
}

.modalText{

}

body {
    font-family: sans-serif;
    margin: 0%;
    background-color: #e5e5e5;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.app {
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow-y: scroll;
} 

.app::-webkit-scrollbar {
    width: 0 !important;
}

/* everything in header */
.header{
    position: relative;
    z-index: 0;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: #449DD1;
    padding: 2% 2% 2% 2%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.appTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: white;
    text-align: left;
}

.subTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-align: left;
}

.headerPic1{
    position:absolute;
    z-index: 1;
    right: 20%;
    top: 10%;
    height: 40%;
    width: 15%;
}

.headerPic2{
    position:absolute;
    z-index: 0;
    right: 8%;
    top: 28%;
    height: 60%;
    width: 20%;
}
/* everything under header */
.contentArea{
    position: relative;
    top: 5%;
}

.contentTitle{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

/* task "list" container */
.tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

/* the box the task is in */
.tasks div {
    border: 6px solid #449DD1;
    background-color: #78C0E0;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
    margin: 2% 2% 1% 2%;
}

/* task  */
.taskText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-transform: capitalize;
}

/* the buttons in div */
.tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

.tasks div .options i {
    cursor: pointer;
}

/* edit button */
.fa-edit{
    font-size: 2em;
}

/* delete button */
.fa-trash-alt{
    font-size: 2em;
}

/* help message on form */
.msg {
    color: red;
}
 
/* button to open modal */
.addNewBtnContainer {
    position: fixed;
    bottom: 1%;
    left: 75%;
    right: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #78C0E0;
    padding: 5px 10px;
    border-radius: 50%;
    width: 20%;
    height: 10%;
    cursor: pointer;
    box-shadow: black 4px 4px 0px 0px;
}
 
.fa-plus {
    position: fixed;
    bottom: 4%;
    left: 80%;
    right: 5%;
    width: 10%;
    height: 5%;
    font-size: 2.4em;
    background-color: #78C0E0;
    padding: 3px;
    border-radius: 50%;
}