.landingPage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    top: 0;
    left: 0;
    right: 0;
}

.toDoListPage{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
}

.modal{
    display: none;
}